C2/LMSGI/Tarea04/Actividad3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ejemplo.com/jugadores"
           xmlns="http://suzdalenko.com/jugadores"
           elementFormDefault="qualified">

  <!-- Documentación del esquema -->
  <xs:annotation>
    <xs:documentation xml:lang="es">
      Esquema XML para representar información sobre jugadores de fútbol.
      Fecha de creación: 2024-03-06.
      Título: Esquema XML Tarea.
      Autores: [Alexey Suzdalenko].
      Curso Escolar: [2024].
    </xs:documentation>
  </xs:annotation>

  <!-- Definición de elementos -->
  <xs:element name="jugadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="jugador" type="jugadorType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="jugadorType">
    <xs:sequence>
      <xs:element name="nombre_jugador" type="xs:string"/>
      <xs:element name="fecha_nacimiento" type="xs:date"/>
      <xs:element name="nacionalidad" type="xs:string"/>
      <xs:element name="altura" type="xs:integer"/>
      <xs:element name="peso" type="xs:integer"/>
      <xs:element name="estadisticas" type="estadisticasType"/>
      <xs:element name="equipos_anteriores" type="equiposType"/>
      <xs:element name="posiciones" type="posicionesType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="estadisticasType">
    <xs:sequence>
      <xs:element name="partidos_jugados" type="xs:integer"/>
      <xs:element name="goles_anotados" type="xs:integer"/>
      <xs:element name="asistencias" type="xs:integer"/>
      <xs:element name="tarjetas_amarillas" type="xs:integer"/>
      <xs:element name="tarjetas_rojas" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equiposType">
    <xs:sequence>
      <xs:element name="equipo" type="equipoType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equipoType">
    <xs:sequence>
      <xs:element name="nombre_equipo" type="xs:string"/>
      <xs:element name="inicio" type="xs:integer"/>
      <xs:element name="fin" type="xs:integer" minOccurs="0"/>
      <xs:element name="logros" type="logrosType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logrosType">
    <xs:sequence>
      <xs:element name="logro" type="logroType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="logroType">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"/>
      <xs:element name="veces_conquistado" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="posicionesType">
    <xs:sequence>
      <xs:element name="principal" type="principalType"/>
      <xs:element name="secundarias" type="secundariasType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="principalType">
    <xs:sequence>
      <xs:element name="posicion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="secundariasType">
    <xs:sequence>
      <xs:element name="posicion" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
